@import '~styles/variables';

.pre-footer {
  background-color: $color-b3;
  color: rgba($color-w1, .7);
  height: 138px;
  text-align: center;

  .contacts {
    padding: 32px 0;

    > * {
      line-height: 28px;
    }

    > :first-child {
      margin-bottom: 18px;
    }
  }

  .email a {
    color: $color-cta1;
    text-decoration: underline;
    text-decoration-color: rgba($color-w1, .3);

    &:hover {
      text-decoration-color: rgba($color-w1, .7);
    }
  }
}

#main-footer,
.footer-inner,
.site-info {
  display: grid;
}

#main-footer {
  background-color: $color-b2;
  color: rgba($color-w1, .8);
  grid-template-columns: auto;
  height: 369px;

  .footer-inner {
    height: 100%;
    justify-self: center;
    max-width: 1020px;
    padding: 64px 32px;
  }

  .site-info {
    font-size: $font-size-default;
    grid-template-columns: repeat(4, auto);
    line-height: 28px;

    > * {
      justify-self: center;
    }
  }

  .site-disclosures {
    align-self: end;
    color: rgba($color-w1, .4);
    font-size: $font-size-medium;
    line-height: 1.5;
  }
}
