@import '~styles/variables';

#main-header {
  background-color: $color-b1;
  color: $color-w1;
  grid-area: header;
  grid-template-areas: 'logo headernav';
  grid-template-columns: 500px auto;
  grid-template-rows: 100px;
  padding: 20px;
}

// "Logo"
#logo {
  grid-area: logo;
}

.logo-wrapper {
  border: 2px solid;
  border-radius: 24px;
  height: 100px;
  margin-left: 5px;
  width: 300px;
}

.logo-text,
.logo-subtext {
  text-align: center;
}

.logo-text {
  font-size: 36px;
  line-height: 50px;
  padding-top: 10px;
}

.logo-subtext {
  font-size: 20px;
  line-height: 20px;
}

// Navigation Links
#header-nav {
  color: rgba($color-w1, .9);
  font-size: 13px;
  grid-area: headernav;
  padding: 28.5px;
}

.nav-links {
  grid-template-columns: repeat(8, auto);
  grid-template-rows: auto;
  line-height: 43px;
}

.nav-link-item {
  justify-self: end;

  a {
    padding: 14px 0;

    &:hover {
      color: $color-w1;
    }
  }

  &:last-child a {
    border: 2px solid $color-w1;
    border-radius: 300px;
    padding: 10px;

    &:hover {
      background-color: $color-w1;
      color: $color-b1;
    }
  }
}
