@import '~styles/variables';

#main-section {
  background-color: $color-w1;
  display: grid;
  grid-template-areas: '. content .';
  grid-template-columns: auto 1020px auto;
  grid-template-rows: auto;
}

.main-content {
  grid-area: content;
  padding: 96px 32px;
  text-align: center;
}
