@import '~styles/variables';

.app-container,
#main-header,
#logo,
.nav-links,
#main-section,
#main-footer,
.footer-inner,
.site-info {
  display: grid;
}

.app-container {
  grid-template-areas:
    'header'
    'main-section'
    'prefooter'
    'footer';
  grid-template-columns: auto;
  grid-template-rows: 140px auto 138px 369px;
}

#main-section {
  background-color: $color-w1;
  grid: {
    area: main-section;
    template-areas:
      'banner banner banner'
      '. content .';
    template-columns: auto 1020px auto;
    template-rows: 507px auto;
  }
  margin-top: -140px;
  min-height: calc(100vh - 507px);
  z-index: -1;
}

.banner,
.banner-title,
.banner-overlay {
  grid-area: banner;
}

.banner {
  background: {
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

.banner-title {
  align-self: center;
  color: $color-w1;
  font-size: 68px;
  font-weight: 700;
  justify-self: center;
  z-index: 2;
}

.banner-overlay {
  background-color: $color-b1;
  opacity: .2;
  z-index: 1;
}

.main-content {
  grid-area: content;
  padding: 96px 32px;
  text-align: center;
}
