header#main-header
  #logo
    .logo-wrapper
      .logo-text: strong Richard Huynh
      .logo-subtext: em Trusts & Estates Attorney
  nav#header-nav
    ul.nav-links
      li.nav-link-item: a( ui-sref="app.home" ) HOME
      li.nav-link-item: a( ui-sref="app.estate-planning" ) ESTATE PLANNING
      li.nav-link-item: a( ui-sref="app.probate" ) PROBATE
      li.nav-link-item: a( ui-sref="app.trust-admin" ) TRUST ADMINISTRATION
      li.nav-link-item: a( ui-sref="app.blog" ) WILLS, TRUSTS & ESTATES BLOG
      li.nav-link-item: a( ui-sref="app.about" ) ABOUT
      li.nav-link-item: a( ui-sref="app.alt-payment" ) ALTERNATIVE PAYMENT
      li.nav-link-item: a( ui-sref="app.contact" ) CONTACT

section( ui-view )

.pre-footer
  .contacts
    .phone-number (800) 831-1613
    .email: a( href="mailto:richard@rqhlaw.com" ) richard@rqhlaw.com
footer#main-footer
  .footer-inner
    .site-info
      span.site-name RICHARD HUYNH, ESQ.,
      span.site-address LOS ANGELES & SAN FRANCISCO BAY AREA
      span.site-phone (800) 831-1613
      a( href="mailto:richard@rqhlaw.com" ): span RICHARD@RQHLAW.COM
    .site-disclosures
      p * Richard Huynh does not provide professional psychotherapy or psychological counseling.
      p 
        strong IRS Circular 230 Disclosure: 
        | Any discussion of or advice regarding United States tax matters contained herein (including any materials made available for download) does not meet the requirements necessary to be a "covered opinion" as defined in Internal Revenue Service Circular 230, and therefore, is not intended or written to be relied upon or used and can not be relied upon or used for the purpose of avoiding federal tax penalties that may be imposed or for the purpose of promoting, marketing, or recommending any tax-related matters or advice to another party.
