header#main-header
  #logo
    .logo-wrapper
      .logo-text: strong Richard Huynh
      .logo-subtext: em Trusts & Estates Attorney
  nav#header-nav
    ul.nav-links
      li.nav-link-item: a( ui-sref="app.home" ) HOME
      li.nav-link-item: a( ui-sref="app.estate-planning" ) ESTATE PLANNING
      li.nav-link-item: a( ui-sref="app.probate" ) PROBATE
      li.nav-link-item: a( ui-sref="app.trust-admin" ) TRUST ADMINISTRATION
      li.nav-link-item: a( ui-sref="app.blog" ) WILLS, TRUSTS & ESTATES BLOG
      li.nav-link-item: a( ui-sref="app.about" ) ABOUT
      li.nav-link-item: a( ui-sref="app.alt-payment" ) ALTERNATIVE PAYMENT
      li.nav-link-item: a( ui-sref="app.contact" ) CONTACT

section( ui-view )

footer footer goes here
