.banner.estate-planning
.banner-overlay
.banner-title ESTATE PLANNING

.main-content
  .summary.blurb
    h3: em "What is estate planning and do I really need it? What happens if I don't have an estate plan?"
    p Do you have a family or loved ones you wish to be taken care of? Do you own a home or other assets? Do you wish to protect your loved ones or your assets from crippling costs such as unnecessary court and attorneys’ fees or burdensome federal, state and local taxes? If you answered “yes” to any of these questions, it is imperative that you actively engage in estate planning.
    p If you pass away without an estate plan, your family will pay a mandatory amount of probate fees which are often substantially greater than the cost of a basic estate plan.
    p Estate planning involves planning for incapacity as well as for death. Failure to plan for your estate can have serious tax implications during your lifetime and after you pass. A carefully constructed estate plan can help you protect your family's assets while minimizing negative tax implications.
    p
      a.link( href="mailto:richard@rqhlaw.com" ): span Schedule a free consultation
      span  with Richard to discuss your estate plan and to come away with the peace of mind and confidence that your assets will be preserved for your loved ones and that you will be cared for if you become unable to care for yourself.

  .living-trust.blurb
    p LIVING TRUST
    p At the core of most estate plans is a revocable living trust. People often think that a living trust is simply a document but actually, a trust is intangible. It is an entity, like a corporation, with rules on how to manage the property held by that entity.
    p Living trusts are very flexible as they can be amended as often as desired during your lifetime. This flexibility allows you to control the use and disposition of your property in a manner consistent with your goals and values. Many of Richard’s clients utilize his "education acceleration clause" in order to incentivize their child to promptly finish college. Many clients create special needs trusts so that loved ones living with life-long disabilities can maximize the use of the client’s assets without jeopardizing the loved one’s essential public benefits.
    p A living trust is not a simple fill-in-the-blank document. Richard has seen many “do-it-yourself” trusts that have resulted in needless litigation costing three to five times a basic estate plan, not to mention the stress and anxiety of having to deal with the legal system. Additionally, a poorly drafted trust can have serious estate, gift, income, or property tax consequences.

  .pourover-will.blurb
    p POUROVER WILL
    p The pourover will serves two purposes. It supplements your living trust as a backup document in case you forget to title assets in your trust. A common scenario is when a client creates their trust then, years later, purchases or refinances a home without ever titling the property as trust property. In this case, the house may need to go through the probate process but the pourover will directs that the probate property be titled as a trust asset. Accordingly, the will "pours" your probate property "over" to your trust.
    p The pourover will can also appoint a guardian to your minor children. Sadly, many standard pourover wills do not include a nomination of guardian, even when it is necessary, because it has no direct connection to your property.

  .power-of-attorney.blurb
    p DURABLE POWER OF ATTORNEY & ADVANCE HEALTH CARE DIRECTIVE
    p Durable Powers of Attorney and Advance Health Care Directives are invaluable in the event of your incapacity by providing others the authorization and means to make the necessary day-to-day decisions of life without having to resort to a costly and time-consuming conservatorship.
    p A Durable Power of Attorney (DPOA) allows you to appoint an agent to manage assets that are not titled in your trust in the event of you are unable and, unlike your pourover will, is effective only during your life. A DPOA is invaluable for the management of your IRAs during your incapacity because IRAs cannot be titled as trust assets and thus, must be managed through the DPOA.
    p An Advance Health Care Directive (AHCD) gives someone the power to make health care decisions for you in the event you are unable to give informed consent. While this document does not deal with how your assets are managed, it is integral to estate planning as it empowers your agent to advocate for your views and decisions on whether or not to prolong your life, artificial nutrition, organ donation, and the disposition of your remains (burial, cremation, etc.).

  .other-documents.blurb
    p OTHER DOCUMENTS & SERVICES
    p In addition to the basic estate planning documents discussed above, other documents may be necessary depending on your situation.
    p: em Loved Ones with Disabilities
    p A special needs trust (SNT) is a trust designed to ensure that a person who depends on public benefits does not lose those benefits. Money can be left for the beneficiary in a segregated account that does not count as an asset of the beneficiary for purposes of determining their need for public benefits. There are specific rules for how that money can be spent. The SNT outlines those rules. The SNT Trustee must be careful not to inadvertently jeopardize a beneficiary's public benefits in administering the SNT.
    p: em Larger Estates
    p If you have a large estate, 
      a.link( ui-sref="app.tax-planning" ) tax planning tools
      |  such as Family Limited partnerships, LLC’s, Irrevocable Life Insurance Trusts (ILITs), Grantor Retained Trusts (GRATs and GRUTs) and Charitable Remainder Trusts (CRATs and CRUTs) are crucial to minimizing any adverse tax implications.
