//- 1819 px min width
doctype html
html( lang="en" )
  head
    title Richard Q. Huynh, esq.
    meta( charset="utf-8")
    meta( http-equiv="X-UA-Compatible", content="IE=edge" )
    meta( name="robots", content="noindex, nofollow" )
    meta( name="viewport", content="width=device-width" )

    link( href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")

  body( ng-app="rqhlaw" )
    main( ui-view )
