// Variables

$font-family: 'Open Sans', sans-serif;
$font-size-default: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

// Whites
$color-w1: #fff;

// Blacks
$color-b1: #000;
$color-b2: #1f1f1f;
$color-b3: #333;

// Call to Action
$color-cta1: #3d9991;
