@import 'variables';

// Global Styling
body {
  font-size: $font-size-large;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  letter-spacing: .04em;
  min-width: 1680px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 0;
  text-align: inherit;
}

.display-none {
  display: none;
}
